body {
    margin: 0;
    font-family: 'Inter', Tahoma, Arial, sans-serif;
    background-color: #1a202c;
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to start to avoid cutting off the top */
    height: 100vh;
    padding: 2rem 1rem;
    box-sizing: border-box;
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

h1 {
    font-weight: 500;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Use full width of the viewport */
}

.content-box {
    background-color: #2d3748;
    padding: 2rem; /* Increase padding for better spacing */
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 36rem; /* Make the box wider */
    text-align: center;
    overflow: hidden; /* Prevent horizontal overflow */
}

.content-box h1 {
    margin-bottom: 1rem;
    font-size: 1.875rem;
    font-weight: bold;
    color: #f7fafc;
}

.content-box p {
    margin-bottom: 1.5rem;
    color: #a0aec0;
}

.recommend-button {
    background-color: #e53e3e;
    color: #f7fafc;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem; /* Add margin to separate the button from results */
}

.recommend-button:hover {
    background-color: #c53030;
}

.displayResults {
    margin-top: 1rem;
}

.movie-box {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #4a5568;
    border-radius: 0.5rem;
    text-align: center;
    max-width: 100%; /* Ensure it does not overflow the content-box */
}

.movie-box h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #63b3ed;
}

.movie-box p {
    margin-bottom: 1rem;
    color: #cbd5e0;
}

.movie-box img {
    max-width: 100%;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.error-box {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #e53e3e;
    color: #f7fafc;
    border-radius: 0.5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}